/* Splash screen */
SplashScreen {
    background: #000000;
    color: #ffffff;
    align: center middle;
}
SplashScreen > Static {
    width: 70;
}

SplashScreen #title {
    content-align-horizontal: center;
    text-style: reverse;
    margin-bottom: 3;
}

SplashScreen #any-key {
    margin-top: 3;
    content-align-horizontal: center;
}