/* Splash screen */
SplashScreen {
    background: #000000;
    color: #ffffff;
    align: center middle;
}
SplashScreen > Static #splash-text {
    width: 70;
}

SplashScreen > Static #welcome {
    width: 70;
}

SplashScreen #welcome {
    content-align-horizontal: center;
    text-style: reverse;
    margin-bottom: 3;
}

SplashScreen #enigma-diagram {
    content-align-horizontal: center;
    margin-bottom: 3;
}

SplashScreen #any-key {
    margin-top: 3;
    content-align-horizontal: center;
}

SplashScreen #splash-text {
    margin-top: 3;
    text-align: center;
    content-align-horizontal: center;
}

/* Main screen */
MainScreen {
    background: #000000;
    color: #ffffff;
    align: center middle;
}

MainScreen > Static {
    width: 30;
}



